amqp
asn1crypto
billiard
celery
certifi
cffi
chardet
cryptography
Django
django-cors-headers
django-redis
django-tinymce
djangorestframework
djangorestframework-jwt
gunicorn
idna
itsdangerous
jieba
kombu
olefile
Pillow
pycparser
pycryptodome
pycryptodomex
PyJWT
PyMySQL
python-alipay-sdk
pytz
redis
six
urllib3
vine
Whoosh
django-haystack